
@font-face {
  font-family: "Roboto-Regular";
  src: url('../Fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: "Roboto-Medium";
  src: url('../Fonts/Roboto-Medium.ttf');
}

:root {
  --text1: #ececec;
  --text2: #b6b6b6;
  --bg1: #131318;
  --bg2: #383838;
  --bg3: #1e1e24;
  --bg4: #444444b6;
  --bg5: #2b2b2b;
  --selected: #2ba4eb;
  --focused: #686868;
  --iconFill: #b6b6b6;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background: var(--bg2);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--focused);
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background-color: var(--bg2);
  color: var(--text1);
  user-select: none;
  font-family: 'Roboto-Regular';
  font-size: 16px;
}


/* general text input class*/
.textInput {
  outline: none;
  border: none;
  background: var(--bg4);
  color: var(--text1);
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--bg4);
  transition: border-color 100ms;  
}
input[type="text"] {
  font-family: 'Roboto-Regular';
  font-size: 13px;
}

.textInput:hover {
  border-color: var(--selected);
}

.textInput:focus {
  border-color: var(--focused);
}

/* rip button defaults */
button {
  outline: none;
  overflow: visible;
  border: none;
  font: inherit;
  padding: 0;
  background-color: none;
  background: none;
  color: white;
  text-transform: inherit;
  text-shadow: inherit;
}
button, [type="button"] {
  -webkit-appearance: button;
}
button:hover {
  cursor: pointer;
}

/* main viewport */
#viewport {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 300ms ease;
}


/* where all the magic happens */
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 300ms;
  display: flex;
  flex-direction: column;
}

/* player stuff */
#playerRegion {
  display: flex;
  height: 100%;
}

.side {
  width: 100%;
  position: relative;
}

.sideEditor {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}

.row {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}


.teamName {
  width: 100%;
  display: none;
}

.playerInfo {
  display: flex;
}

.pInfoButt {
  width: 30px;
  background-color: var(--bg4);
  border-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid var(--bg4);
  transition: border-color 100ms;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.pInfoButt:hover {
  border-color: var(--selected);
}
.pInfoButt:focus {
  border-color: var(--focused);
}
.pInfoButtIcon {
  width: 22px;
  height: 22px;
  fill: var(--iconFill);
  display: inline-block;
  transform: translate(1px, 0px);
}

.nameInput {
  min-width: 60px;
  max-width: 210px;
  width: 60px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.pFinderPosition, .cFinderPosition, .sFinderPosition {
  position: relative;
}
#playerFinder {
  display: none;
  position: absolute;
  top: 100%;
  background-color: var(--bg5);
  filter: drop-shadow(0px 0px 5px var(--bg3));
  z-index: 3;
  font-size: 15px;
  max-height: 165px;
  overflow: auto;
  width: 220px;
}

.finderEntry {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  z-index: 30;
  cursor: pointer;
}
.finderEntry:not(:first-child) {
  border-top: 1px solid var(--bg2);
}
.finderEntry:hover {
  background-color: var(--bg2);
}
.finderEntry-active {
  background-color: var(--bg2);
}

.pfTag {
  color: var(--text2);
  font-size: 13px;
  margin-left: 5px;
  z-index: 32;
}
.pfName {
  font-family: "Roboto-Medium";
  margin-right: 5px;
  margin-left: 5px;
  z-index: 32;
}
.pfChar {
  font-style: italic;
  font-size: 13px;
  margin-right: 5px;
  z-index: 32;
}
.pfCharImgBox {
  position: absolute;
  height: 30px;
  width: 100%;
  transform: scaleX(-1);
  overflow: hidden;
  opacity: .8;
}
.pfCharImg {
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: contain;
  height: 40px;
  opacity: .8;
  z-index: 31;
}


.pColor {
  width: 30px;
  height: 30px;
  color: var(--text1);
  background: var(--bg4);
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  border: 1px solid var(--bg4);
  box-sizing: border-box;
  outline: none;
}

.pColor:hover {
  border-color: var(--selected);
}

.pColor:focus {
  border-color: var(--focused);
  background-color: var(--bg2);
}

.colorContainer {
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.pColorRect {
  border-radius: 3px;
  height: 14px;
  width: 14px;
}

.dropdownColor {
  display: none;
  position: absolute;
  background-color: var(--bg5);
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  font-size: 15px;
}

.colorEntry {
  display: flex;
  align-items: center;
}

.colorEntry:hover {
  background-color: var(--bg2);
}

.colorInList {
  width: 11px;
  height: 11px;
  margin: 6px 5px;
  border-radius: 3px;
}

#lColor:focus #dropdownColorL,
#rColor:focus #dropdownColorR {
  display: block;
}


.selector {
  max-width: 141px;
  height: 32px;
  color: var(--text1);
  background-color: var(--bg4);
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  padding: 4px;
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-family: 'Roboto-Regular';
  white-space: nowrap;
  gap: 3px;
  overflow: hidden;
}
.selector:hover {
  border-color: var(--selected);
}
.selector:active {
  background-color: var(--bg2);
}

.charSelects {
  display: flex;
}

.charSelector {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.charSelectorIcon {
  width: 22px;
  height: 22px;
}


.finder {
  display: none;
  position: absolute;
  top: 100%;
  filter: drop-shadow(0px 0px 5px var(--bg3));
  z-index: 3;
  max-height: 165px;
}
.charSelector:focus-within .finder, .skinSelector:focus-within .finder {
  display: block;
}
.listSearch {
  outline: none;
  border: none;
  width: 100%;
  background: var(--bg1);
  color: var(--text1);
  padding: 2px;
  box-sizing: border-box;
}
.searchList {
  background-color: var(--bg5);
  font-size: 15px;
  overflow: auto;
  max-height: 140px;
  position: relative;
}

#characterFinder, #skinFinder {
  width: 200px;
}

.fIconImg {
  width: 24px;
  height: 24px;
  padding-left: 4px;
}


.skinSelector {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: 0px solid var(--selected);;
}
.skinSelector:hover {
  margin-left: -1px;
  border-left: 1px solid var(--selected);
}



.scoreBox {
  background-color: var(--bg4);
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--bg4);
  transition: border-color 100ms;
  display: flex;
  align-items: center;
  color: var(--text2);
  font-family: 'Roboto-Medium';
  gap: 1px;
}
.scoreBox:hover {
  border-color: var(--selected);
}

.scoreCheck {
  width: 14px;
  height: 14px;
  outline: none;
}

.wlButtons {
  display: none;
  font-size: 13px;
  font-family: 'Roboto-Medium';
}

.wlBox {
  background-color: var(--bg4);
  height: 30px;
  width: 30px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--bg4);
  transition: border-color 100ms;
  color: var(--text2);
  display: flex;
  align-items: center;
}
.wlBox:hover {
  border-color: var(--selected);
}

#p1W, #p2W {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#p1W:hover, #p2W:hover {
  transform: scale(1);
}
#p1L, #p2L {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-sizing: border-box;
  padding-left: 7px;
}


/* elements that will show up when changing gamemode */
.elGm2 {
  display: none;
}


#sideSep {
  width: 20px;
  height: 100%;
}

#swapButton {
  width: 100%;
  height: 85%;
  background-color: var(--bg4);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#swapButton:hover {
  filter: brightness(1.3);
}
#clearButton {
  width: 100%;
  height: 15%;
  background-color: var(--bg4);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#clearButton:hover {
  filter: brightness(1.3);
}

.midIcon {
  height: 12px;
  width: 12px;
  fill: var(--iconFill);
  opacity: 0;
  transform: scale(1.5);
  transition: opacity 200ms, transform 200ms;
  display: inline-block;
}
#swapIcon {
  opacity: .5;
}
#swapButton:hover #swapIcon {
  opacity: 1;
  transform: scale(2);
}
#clearButton:hover #clearIcon {
  opacity: 1;
  transform: scale(2);
}


.charImgBox {
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
}

.charImg {
  position: absolute;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
  padding: 3px;
  box-sizing: border-box;
}


/* round propierties */
#roundInfo {
  height: 40px;
  border-top: thin;
  border-bottom: thin;
  border-style: solid none solid;
  border-color: var(--bg4);
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

#bestOf {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  padding-right: 10px;
}

.bestOfBox {
  background-color: var(--bg4);
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--focused);
  transition: border-color 100ms;
}

.bestOfBox:hover {
  border-color: var(--selected);
  transform: scale(1); /* cheap trick to show a correct border */
}

#bo3Div {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#bo5Div {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: -1px;
}

#roundName, #tournamentName {
  width: 100%;
  text-align: center;
  margin-right: 4px;
}


#gamemode {
  background-color: var(--bg4);
  height: 30px;
  width: 42px;
  margin-left: 6px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text2);
  font-family: 'Roboto-Medium';
}
#gamemode:hover {
  border-color: var(--selected);
  cursor: pointer;
}
#gamemode:active {
  background-color: #2b2b2b;
}


/* caster region */
#casterInfo {
  height: 60px;
  padding: 10px;
  padding: 8px 10px 12px 10px;
}

.casterIcon {
  height: 20px;
  width: 20px;
  margin-left: -5px;
  margin-top: 5px;
  fill: var(--iconFill);
  display: inline-block;
}

.twitterIcon {
  margin-right: 4px;
  margin-left: 5px;
}
.twitchIcon {
  margin-right: 4px;
  margin-left: 5px;
}

#caster1 {
  padding-bottom: 4px;
}

.caster {
  display: flex;
}

.casterGroup {
  display: flex;
}
.casterNameG {
  width: 38%;
}
.casterSocialG {
  width: 31%;
}

#cName1, #cName2 {
  width: 100%;
  margin-left: 4px;
}

#cTwitter1, #cTwitter2, #cTwitch1, #cTwitch2 {
  width: 100%;
  margin-left: 1px;
}

/* the bottom bar */
#botBar {
  width: 100%;
  height: 28px;
  display: flex;
  background-color: var(--bg5);
  cursor: pointer;
}

.botRegion {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botText {
  color: var(--text1);
  font-family: 'Roboto-Medium';
}

.rectangle {
  height: 2px;
  width: 100%;
  margin: 10px;
  background-color: var(--text2);
}

#updateRegion:hover {
  background-color: var(--bg3);
}

#updateRegion:active{
  background-color: var(--bg5);
}

#settingsRegion {
  width: 32px;
  background-color: var(--bg3)
}

#configIcon {
  width: 20px;
  height: 20px;
  fill: var(--text2);
}

#settingsRegion:hover {
  background-color: var(--bg1);
}

#settingsRegion:active{
  background-color: var(--bg5);
}


/* settings section */
#settings {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bg5);
  z-index: 2;
  transform: translateX(100%);
}


#actualSettings {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


#settingsTitleTop {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-Medium";
  background-color: var(--bg3);
  border-bottom-style: solid;
  border-color: var(--bg4);
}

#settingsList {
  overflow-y: auto;
  height: 100%;
}

.settingsTitle {
  width: 100%;
  color: var(--text2);
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto-Medium";
  border-bottom: solid 1px var(--bg4);
  padding: 5px 0px;
  margin-bottom: 4px;
}
.settingsTitle:not(:first-child) {
  border-top: solid 3px var(--bg4);
  margin-top: 10px;
}

.settingBox {
  padding: 2px 0px 2px 5px;
  display: flex;
  outline: none;
}
.settingBox:hover {
  background-color: var(--bg2);
}

.settingsCheck {
  outline: none;
  margin-right: 4px;
}

.settingsText {
  width: 100%;
}

#settingsButtonSection {
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}
#copyMatch {
  padding: 2px 5px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Roboto-Medium";
  background: none;
  border: solid 2px var(--focused);
  border-radius: 5px;
  color: var(--text2);
  outline: none;
}
#copyMatch:hover {
  filter: brightness(1.4);
}
#copyMatch:active {
  filter: brightness(.8);
}


/* player info */
#pInfoDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg4);
  z-index: 100;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.15);
  transition: opacity 150ms, transform 150ms;
}

#pInfoTitle {
  font-family: "Roboto-Medium";
  font-size: 18px;
  border-bottom: solid 1px var(--text2);
  padding: 3px;
  text-transform: uppercase;
}

#pInfoStuff {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pInfoRow {
  display: flex;
  gap: 10px;
}

.pInfoEl {
  display: flex;
  align-items: center;
  background-color: var(--bg2);
  border: 1px solid var(--focused);
  border-radius: 3px;
}

.pInfoIconCont {
  width: 30px;
  display: flex;
  justify-content: center;
}
.pInfoIcon {
  width: 20px;
  height: 20px;
  fill: var(--iconFill);
  display: inline-block;
}
.pInfoInput {
  width: 100px;
  border-radius: 0;
}

.pInfoBotButt {
  height: 30px;
  display: flex;
  align-items: center;
  padding-right: 8px;
  background-color: var(--bg2);
  border: 1px solid var(--focused);
  border-radius: 3px;
  transition: border-color 100ms;  

}
.pInfoBotButt:hover {
  border-color: var(--selected);
}

/* clickable area that gets enabled when moving the viewport */
#goBack {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}
