@font-face {
    font-family: "Deansgate";
    src: url('../Fonts/DeansgateCondensed-Bold.ttf');
}

@font-face {
    font-family: "Roboto";
    src: url('../Fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: "LemonMilk";
    src: url('../Fonts/LEMONMILK-Medium.otf');
}

:root {
    --scoreboardX: var(--scoreboardXSingles);
    --scoreboardY: var(--scoreboardYSingles);
    --scoreboardXSingles: 470px;
    --scoreboardXDoubles: 15px;
    --scoreboardYSingles: 25px;
    --scoreboardYDoubles: 13px;
    --colorL: #14bb89;
    --colorR: #14bb89;
  }

body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    color: white;
    font-family: "Deansgate";
}

.absol {
    position: absolute;
}


.scoreboard {
    top: var(--scoreboardY);
}
#scoreboardL {
    left: var(--scoreboardX);
}
#scoreboardR {
    right: var(--scoreboardX);
    transform: scaleX(-1);
}


.mask {
    position: absolute;
    -webkit-mask-image: url("../Overlay/Scoreboard/Icon Mask.png");
    width: 401px;
    height: 104px;
}

.charTop {
    top: 0px;
    left: 95px;
}

.charBot {
    top: 25px;
    left: -285px;
}

.pCharacter {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    position: absolute;
    left: 260px;
    top: 12px;
}


.wrappers {
    position: absolute;
    text-align: center;
    opacity: 0;
    white-space: nowrap;
}
.wrappersSingles {
    width: 246px;
    height: 36px;   
    top: 34px;
    line-height: 32px;
}

.wrappersDubs {
    width: 123px;
    height: 30px;
    line-height: 30px;
    top: 32px;
}

.flipBack {
    transform: scaleX(-1);
}
#p1Wrapper {
    left: 38px;
}
#p2Wrapper {
    right: 38px;
}
#p3Wrapper {
    left: 106px;
}
#p4Wrapper {
    right: 106px;
}

.tags {
    color: lightgray;
}

.teamName {
    position: absolute;
    width: 275px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    top: 67px;
    opacity: 0;
    white-space: nowrap;
}
#teamNameL {
    left: 115px;
}
#teamNameR {
    right: 115px;
}


.scoreNum {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 44px;
    top: 27px;
    left: -12px;
    color: black;
    font-family: "LemonMilk";
}
#scoreNumL {
    -webkit-text-stroke: 1px var(--colorL);
    text-shadow: 0px 0px 2px var(--colorL);
}
#scoreNumR {
    -webkit-text-stroke: 1px var(--colorR);
    text-shadow: 0px 0px 2px var(--colorR);
}
.scoreNumDubs {
    left: 225px;
    top: 23px;
}

.borderX {
    transform: translateX(-26px);
}


.topBarMask {
    overflow: hidden;
    display: flex;
    width: 380px;
    height: 25px;
    transform: translateX(-1px);
}
.topBarDoubles {
    width: 285px;
    transform: translateX(95px);
    justify-content: center;
}
.topBarSinglesNum {
    transform: translateX(-26px);
}

.topBarTexts {
    display: flex;
    border-image: url('../Overlay/Scoreboard/WL\ BG.png') 0 7 fill / 0 7px;
    border-right: 10px solid;
    border-left: 10px solid;
    gap: 8px;
    margin-top: 5px;
}

.topBarProns {
    display: none;
    color: gray;
}

#roundDiv {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translateY(892px);
}
#roundBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 14px;
    border: solid;
    border-width: 19px 43px;
    border-image: url('../Overlay/Scoreboard/Round\ BG.png') 19 43 fill;
    transition: width .5s;
    height: 36px;
    min-width: 170px;
    opacity: 0;
}
#roundText {
    font-family: "Roboto";
    white-space: nowrap;
    font-weight: bolder;
}


#overlayIntro {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#introBG {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
}
.blackBar {
    position: absolute;
    width: 100%;
    background-color: black;
}
#introTopBar {
    height: 100px;
}
#introBotBar {
    height: 100px;
    bottom: 0px;
}

#introWhiteBars {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#introWhiteBarsClip {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    width: 960px;
    overflow: hidden;
}
.introWhiteBar {
    width: 100%;
    height: 4px;
    background-color: white;
}

#playersIntro {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 200px;
}
.pIntro {
    width: 500px;
    line-height: 74px;
    font-family: "LemonMilk";
    white-space: nowrap;
}
#p1Intro {
    text-align: right;
    text-shadow: 0px 0px 20px var(--colorL);
}

#p2Intro {
    text-shadow: 0px 0px 20px var(--colorR);
}


#midTextIntro {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: "LemonMilk";
    font-size: 110px;
    white-space: nowrap;
}

#rtIntro {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    gap: 170px;
    font-size: 48px;
    white-space: nowrap;
}

#superCoolInterrogation {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    right: 550px;
    font-family: "LemonMilk";
    font-size: 110px;
    opacity: 0;
}


.dubEL {
    display: none;
}


.tLogos {
    max-width: 36px;
    max-height: 36px;
    top: 33px;
    object-fit: scale-down;
}
#tagLogoP1 {
    left: 248px;
}
#tagLogoP2 {
    right: 248px;
}


#connErrorDiv {
    display: none;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Deansgate";
    font-size: 28px;
    color: lightcoral;
    text-shadow: 0px 0px 5px black;
}


/* Animations! */


@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}
@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}


@keyframes moveOutLeft {
    from {transform: translateX(0)}
    to {transform: translateX(40px)}
}
@keyframes moveOutRight {
    from {transform: translateX(0)}
    to {transform: translateX(-40px)}
}


@keyframes moveInLeft {
    from {transform: translateX(-40px)}
    to {transform: translateX(0)}
}
@keyframes moveInRight {
    from {transform: translateX(40px)}
    to {transform: translateX(0)}
}


@keyframes charaMoveOut {
    from {transform: translateX(0)}
    to {transform: translateX(-20px)}
}
@keyframes charaMoveIn {
    from {transform: translateX(-20px)}
    to {transform: translateX(0)}
}


@keyframes wlMoveOut {
    from {transform: translateY(0)}
    to {transform: translateY(20px)}
}
@keyframes wlMoveIn {
    from {transform: translateY(20px)}
    to {transform: translateY(0)}
}


@keyframes introWhiteBarTop {
    from {transform: translateX(-100%);}
    to {transform: translateX(0);}
}
@keyframes introWhiteBarBot {
    from {transform: translateX(100%);}
    to {transform: translateX(0);}
}