@font-face {
    font-family: "Deansgate";
    src: url('../Fonts/DeansgateCondensed-Bold.ttf');
}

@font-face {
    font-family: "Roboto";
    src: url('../Fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: "LemonMilk";
    src: url('../Fonts/LEMONMILK-Medium.otf');
}


body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background: transparent;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    color: white;
    font-family: "Deansgate";
}


.scoreboardP1 {
    position: absolute;
    left: 0px;
}
.scoreboardP2 {
    position: absolute;
    right: 0px;
    transform: scaleX(-1);
}
.scoreboardP2Fixed {
    position: absolute;
    right: 0px;
}


.colors {
    width: 636px;
    height: 90px;
}


.mask {
    -webkit-mask-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
    position: absolute;
}

.maskSingles {
    -webkit-mask-image: url("../Overlay/Scoreboard/Icon Mask.png");
}

.maskDubs {
    -webkit-mask-image: url("../Overlay/Scoreboard/Icon Mask 2.png");
}

.charTop {
    position: absolute;
}
.charBot {
    position: absolute;
    top: 45px;
}

#p2CharaMask, #p4CharaMask {
    transform: scaleX(-1);
}

#p3CharaMask {
    left: -18px;
}
#p4CharaMask {
    right: -18px;
}

.pCharacter {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    position: absolute;
}


.wrappers {
    position: absolute;
    text-align: center;
    opacity: 0;
    white-space: nowrap;
}
.wrappersSingles {
    width: 430px;
    height: 54px;
    line-height: 54px;
}

.wrappersDubs {
    width: 126px;
    height: 54px;
    line-height: 54px;
}

#p1Wrapper {
    left: 158px;
}
#p2Wrapper {
    right: 158px;
}
#p3Wrapper {
    top: 40px;
    left: 138px;
}
#p4Wrapper {
    top: 40px;
    right: 138px;
}

.tags {
    color: lightgray;
}

.teamName {
    position: absolute;
    width: 290px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    top: 0px;
    opacity: 0;
    white-space: nowrap;
}
#teamNameL {
    left: 298px;
}

#teamNameR {
    right: 298px;
}


#overlayRound {
    opacity: 0;
}

#roundBG {
    position: absolute;
}

#round {
    position: absolute;
    width: 215px;
    height: 34px;
    left: 853px;
    top: 914px;
    line-height: 32px;
    text-align: center;
    font-family: "Roboto";
    white-space: nowrap;
}


#introVid {
    position: absolute;
}


.pIntro {
    position: absolute;
    width: 500px;
    height: 94px;
    line-height: 74px;
    bottom: 485px;
    opacity: 0;
    font-family: "LemonMilk";
    white-space: nowrap;
}

#p1Intro {
    text-align: right;
    left: 355px;
    text-shadow: 0px 0px 20px;
}

#p2Intro {
    text-align: left;
    right: 355px;
    text-shadow: 0px 0px 20px;
}


.textIntro {
    position: absolute;
    text-align: center;
    opacity: 0;
    white-space: nowrap;
}

#midTextIntro {
    width: 1100px;
    height: 74px;
    left: 410px;
    bottom: 505px;
    font-family: "LemonMilk";
    line-height: 74px;
    font-size: 110px;
}

#rtIntro {
    line-height: 40px;
    font-size: 48px;
}

#roundIntro {
    left: 510px;
    width: 900px;
    height: 40px;
    top: 406px;
}

#tNameIntro {
    left: 510px;
    width: 900px;
    height: 40px;
    bottom: 400px;
}

#introBG {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0.50);
}

.blackBar {
    position: absolute;
    width: 1920px;
    background-color: black;
}

#introTopBar {
    height: 100px;
}

#introBotBar {
    height: 100px;
    bottom: 0px;
}

#superCoolInterrogation {
    position: absolute;
    height: 74px;
    right: 550px;
    font-family: "LemonMilk";
    line-height: 74px;
    bottom: 505px;
    font-size: 110px;
    opacity: 0;
}

#overlayIntro {
    opacity: 0;
}


/* Animations! */

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes moveOutLeft {
    from {transform: translateX(0)}
    to {transform: translateX(-40px)}
}
@keyframes moveOutRight {
    from {transform: translateX(0)}
    to {transform: translateX(40px)}
}

@keyframes moveInLeft {
    from {transform: translateX(-40px)}
    to {transform: translateX(0)}
}
@keyframes moveInRight {
    from {transform: translateX(40px)}
    to {transform: translateX(0)}
}

@keyframes charaMoveOut {
    from {transform: translateX(0)}
    to {transform: translateX(-20px)}
}

@keyframes charaMoveIn {
    from {transform: translateX(-20px)}
    to {transform: translateX(0)}
}

@keyframes wl1MoveOut {
    from {transform: translateY(0)}
    to {transform: translateY(-50px)}
}

@keyframes wl1MoveIn {
    from {transform: translateY(-50px)}
    to {transform: translateY(0)}
}

@keyframes wl2MoveOutLeft {
    from {transform: translateX(0)}
    to {transform: translateX(-150px)}
}
@keyframes wl2MoveOutRight {
    from {transform: translateX(0)}
    to {transform: translateX(150px)}
}

@keyframes wl2MoveInLeft {
    from {transform: translateX(-150px)}
    to {transform: translateX(0)}
}
@keyframes wl2MoveInRight {
    from {transform: translateX(150px)}
    to {transform: translateX(0)}
}
